@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.addeventatc {
  color:#ffffff!important;
  background-color:#3f3f46!important;
}
.addeventatc:hover {
  background-color:rgb(24, 24, 27)!important;
  filter:brightness(105%);
}

.addeventatc:active {
  background-color:#3f3f46!important;
  filter:brightness(110%);
}

.addeventatc .addeventatc_icon {
  background:url(https://cdn.addevent.com/libs/imgs/icon-calendar-fff-t1.svg) no-repeat!important;background-size:24px 24px!important;
}
